<!DOCTYPE html>
<html>
<head>
  <title>Training</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'accounts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'accounts', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
<%= yield %>
</body>
</html>
